* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: beige;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.calculadoraCuerpo {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
}
.displayCalculadora{
    color: antiquewhite;
    grid-column: 1/5;
    padding: 3rem;
    font-size: xxx-large;
    font-weight: 700;
    border-radius: 10px;
} 

.btn{
  border: none;
  background-color: rgb(53, 53, 53);
  color: antiquewhite;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 500;
  cursor: pointer;
  transition:  0,3 ease;
  transform: 0,3s ease;
  padding: 1.5rem .5rem;
}
.btn:hover{
  background-color: gray;
  transform: scale(0.95);
}

#botonLimpiar{
  grid-area: 2/1/3/3;
  border-radius: 50px;
}
#botonEliminar{
  grid-column: 3/4;
}

#btnDividir, #btnMultiplicar, #btnRestar, #btnSumar, #btnIgual{
  grid-column: 4/5;
  background-color: rgb(224, 122, 5);
  transform: scale(0.95);
}
#btnDividir:hover,
#btnMultiplicar:hover,
#btnRestar:hover,
#btnSumar:hover,
#btnIgual:hover{
  background-color: rgba(255, 184, 78, 0.959);

}
#btnSiete, #btnOcho, #btnNueve{
  grid-row: 3/4;
}
#btnCuatro, #btnCinco, #btnSeis{
  grid-row: 4/5;
}
#btnUno, #btnDos, #btnTres{
  grid-row: 5/6;
}
#btnComa{
  grid-area: 6/1/7/2;
}
#btnCero{
  grid-area: 6/2/7/4;
  border-radius: 50px;
}
