*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100vh;
    border: 1px solid black;
    gap: 5px;
  }

.calculadoraCuerpo {
    grid-column: 1/5;
    grid-row: 2/8;
    background-color: black;
    width: 400px;
    height: auto;
    display: grid;
    gap: 10px;
    padding: 10px;
  }

.boton{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.displayCalculadora{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: yellowgreen;
}

#botonIgual{
    grid-area: 7/4/8/5;
}
#botonCero{
    grid-area: 7/1/8/3;
}
#botonDecimal{
    grid-area: 7/3/8/4;
}
#botonUno{
    grid-area: 6/1/7/2;
}
#botonDos{
    grid-area: 6/2/7/3;
}
#botonTres{
    grid-area: 6/3/7/4;
}
#botonDividir{
    grid-area: 6/4/7/5;
}
#botonCuatro{
    grid-area: 5/1/6/2;
}
#botonCinco{
    grid-area: 5/2/6/3;
}
#botonSeis{
    grid-area: 5/3/6/4;
}
#botonMultiplicar{
    grid-area: 5/4/6/5;
}
#botonSiete{
    grid-area: 4/1/5/2;
}
#botonOcho{
    grid-area: 4/2/5/3;
}
#botonNueve{
    grid-area: 4/3/5/4;
}
#botonRestar{
    grid-area: 4/4/5/5;
}
#botonLimpiar{
    grid-area: 3/1/4/2;
}
#botonEliminar{
    grid-area: 3/2/4/3;
}
#botonPorcentaje{
    grid-area: 3/3/4/4;
}
#botonSumar{
    grid-area: 3/4/4/5;
}

.btn {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}