/* Reset de estilos para eliminar márgenes y padding por defecto */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO GENERAL DEL BODY */
body {
  display: grid;
  background-color: rgb(255, 255, 220); 
  grid-template-rows:  0.5fr 3fr 0.5fr;
  min-height: 100vh;
  font-weight: 900;
}

/*Contenedores*/

/* Estilos del header */
#primero {
  display: grid;
  place-items: center;
  background-color: rgb(163, 163, 163);
  grid-row: 1/2;
}

/* Navegación */
.nav-link li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.nav-link li:hover {
  transform: scale(0.95);
}

.nav-link a {
  font-size: xx-large;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link a:hover {
  color: #000000;
}


/* =============================
   MAIN (GALERÍA DE IMÁGENES)
============================= */
.container {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 5%;
  justify-items: center;
  flex: 1;
}

.foto {
  width: 80%;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.foto:hover:not(.imagenCentrada) {
  transform: scale(1.1);
}

/* =============================
   OVERLAY (Superposición)
============================= */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.overlayGaleria {
  display: none;
}

.overlayGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 100vh;
}


.btnIzq, .btnDer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.galeriaFotos {
  display: flex;
  align-self: center;
  justify-self: center;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/* =============================
   BOTONES
============================= */
button {
  font-size: large;
  font-weight: 800;
  padding: 9px 25px;
  background-color: rgb(180, 180, 62);
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: rgb(0, 48, 87);
  color: white;
  transform: scale(0.95);
}

/*Comienzo del Footer*/
#tercero {
  display: grid;
  place-content: center;
  background-color: rgb(0, 48, 87);
}

.footer-content {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}

/*Fin del footer*/