* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5%;
  row-gap: 20px;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.foto {
  width: 30%;
  cursor: pointer;
  transition: transform 0.3s;
}

.foto:hover:not(.imagenCentrada) {
  transform: scale(1.1);
}

/*Botones*/
button {
  font-size: large;
  padding: 9px 25px;
  background-color: rgb(180, 180, 62);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
  font-weight: 800;
}
button:hover {
  background-color: rgb(0, 48, 87);
  color: white;
  transform: scale(0.9);
}


/*Texto*/

/* Estilos para la superposición */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.overlayGaleria {
  display: none;
}

.overlayGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 100vh;
}


/*Contenedores*/

.contenedorIzq{
    grid-column: 1/2;
    grid-row: auto;
    display: grid;
    place-items: center;
}

.fotoContenedor {
    grid-area: 1/2/2/3;
    display: grid;
    place-items: center;
  }
  

.contenedorDer{
    grid-column: 3/4;
    display: grid;
    place-items: center;
}
