*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    background-color: antiquewhite;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 100vh;
}

/*Contenedores*/

.contenedorIzq{
    grid-column: 1/2;
    grid-row: auto;
    display: grid;
    place-items: center;
}
.fotoContenedor{
    grid-column: 2/3;
    grid-row: 1/2;
}
.contenedorDer{
    grid-column: 3/4;
    grid-row: 1/2;
    display: grid;
    place-items: center;
}

.textoEstilos{
    grid-column: 2/3;
    grid-row: 2/3;
}

.galeriaFotos{
    display: grid;
    margin: 0 auto; 
    position: relative;
}

/*Fin de Contenedores*/

/*Botones*/
button {
    font-size: large;
    padding: 9px 25px;
    background-color: rgb(180, 180, 62);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.1s ease 0s;
    font-weight: 800;
}
button:hover {
    background-color: rgb(0, 48, 87);
    color: white;
    transform: scale(0.9);
}


/*Texto*/